<div class="contents row">
  <div class="container">
    <h2>住所登録</h2>
    <%= form_with model: @address, url: addresses_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :postcode, '郵便番号' %><br />
      <%= f.text_field :postcode, autofocus: true, autocomplete:'postcode', id:'user_postcode' %>
    </div>

    <div class="field">
      <%= f.label :prefecture, "都道府県" %><br />
      <%= f.collection_select :prefecture, JpPrefecture::Prefecture.all, :name, :name, { prompt: '選択してください' }, id:'user_prefecture_code' %>
    </div>

    <div class="field">
      <%= f.label :city, '市区町村' %><br />
      <%= f.text_field :city, autocomplete: 'address_city', id:'user_address_city' %>
    </div>

    <div class="field">
      <%= f.label :street, '番地' %><br />
      <%= f.text_field :street, autocomplete: 'address_street', id:'user_address_street' %>
    </div>

    <div class="field">
      <%= f.label :building, '建物名・号室' %><br />
      <%= f.text_field :building, autocomplete: 'address_building' %>
    </div>


      <div class="actions">
        <%= f.submit "登録する" %>
      </div>
    <% end %>
  </div>
</div>